extends includes/layout.pug

block vars
  - selectedId = 3
  - page = { name: 'submit', banner: true }

block content
  .section-outer
    .section: .section-inner: .section__content
      .section__title Reference Standard
      .section__text
        .p In the proposed challenge, we will use manual segmentation as gold-standard for final evaluation of
          | submitted algorithms. Eventually, we hope that an automated ventricle segmentation method can be
          | translational to clinical applications.
        .p Manual segmentation of the right and left ventricular, and ventricular myocardium was performed by
          | trained raters (master or PhD student in BME or medical imaging field), and validated by experts in
          | cardiac anatomy. The raters employed a brush tool in the software ITK-SNAP in order to manually label
          | each substructure slice-by-slice. The manual segmentation took about 20 minutes/case.

    .section: .section-inner: .section__content
      .figure: img(src="~images/evaluate-ground-truth.jpg")

    .section: .section-inner: .section__content
      .section__title Evaluation matrix
      .section__text
        .p Dice score, average surface distance and Hausdorff distance will be used as evaluation metrics.
        .p We will evaluate the results using our in-house evaluation software off-line for a fair competition
          | and comparison. Ranking of the submitted algorithm will be published on the STACOM workshop and
          | challenge website according to the achieved Dice score and then average surface distance and Hausdorff
          | distance if same Dice score obtained.
