extends includes/layout.pug

block vars
  - selectedId = 4
  - page = { name: 'FAQ', banner: true }

block content
  .section-outer
    .section: .section-inner: .section__content
      .section__title FAQ
      .section__text
