extends includes/layout.pug

block vars
  - selectedId = 4
  - page = { name: 'FAQ', banner: true }

block content
  .section-outer
    .section: .section-inner: .section__content
      .section__text
        .p: .h4 1. Can I use semi-automatic segmentation algorithms in this challenge?
        .p The challenge aims at both semi-automatic and fully-automatic segmentation methods. Two types of method will
          | be ranked separately. 
        .p: .h4 2. Can I publish a paper based on the validation results?
        .p Of course you can. Please cite the following papers when you use the data for publications:
          | [1] Xiahai Zhuang: Multivariate mixture model for myocardial segmentation combining multi-source images. IEEE
          | Transactions on Pattern Analysis and Machine Intelligence (T PAMI), doi: 10.1109/TPAMI.2018.2869576. 
          | [2] Xiahai Zhuang: Multivariate mixture model for cardiac segmentation from multi-sequence MRI. International
          | Conference on Medical Image Computing and Computer-Assisted Intervention, pp.581-588, 2016. 
        .p: .h4 3. Can I only use the released 5 LGE CMR as training data?
        .p Of course. You can segment the ventricles combining the complimentary information from three-sequence CMR images, or just using the target sequence LGE CMR for training. Different types of training will be evaluated separately.
        .p: .h4 4. Can I use our own training data?
        .p No. You’re supposed to use the data we offered for a fair comparison and for benchmarking different algorithms.
