extends includes/layout.pug

block vars
  - selectedId = 2
  - page = { name: 'submit', banner: true }

block content
  .section-outer
    .section: .section-inner: .section__content
      .section__title Participate procedure
      .section__text
        .p 1.Read carefully the Terms and Conditions and return the signed Data Use agreement document.
        .p 2.We’ll get in touch and then send you back the data link.
        .p 3.Send us or submit by a platform your final results (in nii.gz format) from the validation data set.
        .p 4.Submit your paper follow the LNCS style according to the main MICCAI conference guidelines. 

    .section: .section-inner: .section__content
      .section__title Important data
      .section__text: .p
        .list-item Submission deadline: June 12th, 2019
        .list-item Notification of acceptance: July 3th, 2019
        .list-item Workshop Camera ready: July 17th, 2019
        .list-item Workshop Date: (TBA) Oct 13 or 14th, 2019, Shenzhen, China

    .section: .section-inner: .section__content
      .section__title Review process
      .section__text: .p or the submitted manuscripts, they will be firstly reviewed by the workshop organizers who will
        | ensure the quality of the paper reached the publication standard. Then each paper will be reviewed by
        | our reviewers. The review procedure will be double-blinded, similar to the MICCAI submissions. Review
        | comments will be sent to the authors for their further consideration of modifications and preparation
        | for the final camera ready copy that will be included in the workshop proceedings.

    .section: .section-inner: .section__content
      .section__title References
      .section__text
        .p Please cite the following papers when you use the data for publications:
        .p [1] Xiahai Zhuang: Multivariate mixture model for myocardial segmentation combining multi-source
          | images. IEEE Transactions on Pattern Analysis and Machine Intelligence (T PAMI), doi:
          | 10.1109/TPAMI.2018.2869576.
        .p [2] Xiahai Zhuang: Multivariate mixture model for cardiac segmentation from multi-sequence
          | MRI. International Conference on Medical Image Computing and Computer-Assisted Intervention,
          | pp.581-588, 2016.